@import "tailwindcss";

:root {
  --primary: #222222;
  --secondary: #767676;
  --tertiary : #C32929;
  --color-primary : var(--primary);
  --color-secondary : var(--secondary);
  --color-tertiary : var(--tertiary);
}

@theme{
   --color-primary : var(--color-primary);
   --color-secondary : var(--color-secondary);
   --color-tertiary : var(--color-tertiary);
}


